<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	  
  <!--
  <extensions>
    <add assembly="SimpleLogging.AzureExtension" />
  </extensions>
  -->

  <targets>
    <target name="error" xsi:type="File" fileName="${basedir}/error.txt"
            layout="REQUEST_URL:${event-context:item=request_url},REFERRER_URL:${event-context:item=referral_url}, IP_ADDRESS:${event-context:item=ip_address}, ${message}${newline}${exception:format=tostring,StackTrace}${newline}" />
    <target name="warn" xsi:type="File" fileName="${basedir}/warning.txt" layout="${message}" />
    <target name="trace" xsi:type="File" fileName="${basedir}/trace.txt" layout="${message}" />
    <target name="info" xsi:type="File" fileName="${basedir}/information.txt" layout="${message}" />
	
<!--
	 <target
      name="azureTarget"
      xsi:type="TableStorage"
      ConnectionStringKey="DefaultEndpointsProtocol=https;AccountName=XXXXXXX;AccountKey=XXXXXXXXXXXXXXX"
      TableName="nlogintest" />
-->
		
  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="error" />
    <logger name="*" levels="Warn" writeTo="warn" />
    <logger name="*" levels="Trace" writeTo="trace" />
    <logger name="*" levels="Info" writeTo="info" />
	
<!--	
    <logger name="*" levels="Error" writeTo="error,azureTarget" />
    <logger name="*" levels="Warn" writeTo="warn,azureTarget" />
    <logger name="*" levels="Trace" writeTo="trace,azureTarget" />
    <logger name="*" levels="Info" writeTo="info,azureTarget" />
	-->
  </rules>
</nlog>