<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="SimpleLogging.AzureExtension" />
  </extensions>
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="error" xsi:type="File" fileName="${basedir}/error.txt"
            layout="REQUEST_URL:${event-context:item=request_url},REFERRER_URL:${event-context:item=referral_url}, IP_ADDRESS:${event-context:item=ip_address}, ${message}${newline}${exception:format=tostring,StackTrace}${newline}" />
    <target name="warn" xsi:type="File" fileName="${basedir}/warning.txt" layout="${message}" />
    <target name="trace" xsi:type="File" fileName="${basedir}/trace.txt" layout="${message}" />
    <target name="info" xsi:type="File" fileName="${basedir}/info.txt" layout="${message}" />

    <target
      name="azureTarget"
      xsi:type="TableStorage"
      ConnectionStringKey="DefaultEndpointsProtocol=https;AccountName=xxx;AccountKey=xxxxxxxxxxxxxxxx"
      TableName="nlogintest" />
  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="error,azureTarget" />
    <logger name="*" levels="Warn" writeTo="warn,azureTarget" />
    <logger name="*" levels="Trace" writeTo="trace,azureTarget" />
    <logger name="*" levels="Info" writeTo="info,azureTarget" />
  </rules>
</nlog>